html{scroll-behavior:smooth} 

.about{
    width: 80%;
    height: 420px;
    color: #233127;
    background-color: #83b48f;
    margin-top: 30px;
    text-align: center;
    padding-top: 16px;
}

.aboutSectionContent{
    display: flex;
    flex: auto;
    height: 340px;
    width: 96%;
    margin-left: 2%;
    margin-top: 20px;
    flex-direction:row;
    align-items: center;
    justify-content:center;
    background-color: #a4dab2;

}

.profilePhoto {
    margin: 20px;
    margin-top: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:center;
}

.aboutText{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:center;
    max-width: 45%;
    flex: auto;
    height: 340px;
    margin-left: 5%;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: justify;
}

/* Each section is 230 px*/

.projects{
    width: 80%;
    height: 770px;
    background-color: #83b48f;
    color: #233127;
    margin-top: 30px;
    text-align: center;
    padding-top: 16px;
}

.projectSectionContent{
    display: flex;
    width: 96%;
    height: 200px;
    flex-direction:row;
    margin-left: 2%;
    background-color: #a4dab2;
    margin-bottom: 15px;
    margin-top: 15px;
}

.pictureProject{
    min-width: 160px;
    height: 160px;
    margin: 20px;
    transition: filter 0.15s;
}

.pictureProject:hover{
    filter: brightness(70%);
}

.projectTitle{
    width: fit-content;
    margin-top: 20px;
    font-size: 28px;
    color: #162219;
    font-family: "SquareFont";
    text-decoration: none;
    transition: color 0.15s;
}

.projectTitle:hover{
    color: #c7a12f;
}

a{
    text-decoration: none; 
}

.projectSummary{
    color: #385540;
    font-size: 18px;
}

.descriptionProject{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 70%;
    color: #385540;
    text-align: justify;
    transition: color 1.15s;
}

.descriptionProject:hover .projectTitle{
    color: #c7a12f;
}

.projectTags{
    display: flex;
    font-size: 16px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    height:100%;
    margin-bottom: 15px;
    color: #44694e;
}

.projectTags:before, .projectTags:after {
    content: none;
}


.contact{
    width: 80%;
    height: 200px;
    background-color: #83b48f;
    color: #233127;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    padding-top: 16px;
}

.contactEnglobing{
    display: flex;
    flex-direction: row;
    padding-left: 2%;
}

.contactSectionContent{
    display: flex;
    width: 49%;
    height: 130px;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: #a4dab2;
    margin-bottom: 15px;
    margin-top: 15px;
}

.contactSubsection{
    display: flex;
    flex-direction:row;
    width: 35%;
    margin: 15px;
    align-items: center;
}

.iconContact{
    height: 30px;
    width: 30px;
    transition: filter 0.15s;
}

.contactSubsection:hover .iconContact{
    filter: hue-rotate(290deg) saturate(300%) brightness(300%)
}
.contactSubsection:hover .textContact{
    color:#c7a12f
}


.textContact{
    color:inherit;
    text-decoration: none;
    margin-left: 10px;
    transition: color 0.15s;
    font-size: 20px;
}

.sectionTitle{
    font-family: "SquareFont";
    font-size: 34px;
}

.sectionSubtitle{
    font-family: "SquareFont";
    font-size: 22px;
}

.sectionSubtitleUnderline{
    font-family: "SquareFont";
    font-size: 22px;
    text-decoration: underline;
    color:#fbcb3d;
    transition: color 0.15s;
}
.sectionSubtitleUnderline:hover{
    color: #c7a12f
}

.linkOffset{
    padding-top: 80px;
}

@media (max-width: 800px) {
    /* about section*/
    .profilePhoto {
        margin: 20px;
        margin-top: 20px;
        width: 140px;
        height: 140px;
    }
    
    .aboutText{
        flex-direction:row;
        align-items: center;
        justify-content:center;
        max-width: 45%;
        flex: auto;
        height: 340px;
        margin-left: 5%;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 12px;
        text-align: justify;
    }

    /* projects section*/
    
    .pictureProject{
        min-width: 80px;
        height: 80px;
        margin: 10px;
    }

    .projectSectionContent{
        display: flex;
        width: 96%;
        height: 120px;
        flex-direction:row;
        margin-left: 2%;
        background-color: #a4dab2;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .projectTitle{
        margin-top: 10px;
        font-size: 16px;
        color: #162219;
        font-family: "SquareFont";
        text-decoration: none;
    }

    .projectSummary{
        color: #385540;
        font-size: 11px;
    }

    .descriptionProject{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 70%;
        color: #385540;
        text-align: justify;
        margin-right: 10px;
        font-size: 5%;
    }

    .projectTags{
        display: flex;
        font-size: 9px;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        height:100%;
        margin-bottom: 5px;
    }

    /* Each section is 135 px*/

    .projects{
        width: 80%;
        height: 515px;
        background-color: #83b48f;
        color: #233127;
        margin-top: 30px;
        text-align: center;
        padding-top: 16px;
    }

    /* contact section*/


    .iconContact{
        height: 20px;
        width: 20px;
        transition: filter 0.15s;
    }

    .textContact{
        color:inherit;
        text-decoration: none;
        margin-left: 2px;
        transition: color 0.15s;
        font-size: 11px;
    }
}